# copy this file to .env and update the values. You can also create a different .env.prodution file for your release builds.

# VITE_SERVER_URLS: comma-separated list of display_name:host:port:ssl describing the default servers in the frontend.
VITE_SERVER_URLS=Local files:localhost:16800:0,Default server:pi.thissma.fr:16900:1

