.bx--modal-content {
  margin-bottom: 1rem !important;
}

* {
  box-sizing: border-box;
}

body, html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input[type=number],
input[type=text],
input[type=button],
input[type=color],
select,
textarea,
button.danger,
button.default,
button.primary
{
  border: none;
  padding: .25rem .4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #f2f2f2;

  outline: 1px solid #aaaaaa;
  outline-offset: -1px;
  
  &:hover {
    outline: 1px solid #393939;
    outline-offset: -1px;
  }
  &:focus {
    outline: 2px solid #0f62fe;
    outline-offset: -2px;
  }
}

button.large {
  padding: .5rem .8rem;
}

button.danger {
  color: white;
  background-color: #da1e28;
}

button.primary {
  color: white;
  background-color: #0f62fe;
}

$menu_h: 3rem;

#panes {
  height: calc(100vh - $menu-h);
  
  .splitpanes__splitter {
    border: 0;
    margin: 0;
    // background-color: #f2f2f2;
    z-index: unset;
    
    &:before, &:after {
      background-color: #888;
    }
  }
  
  > .splitpanes__splitter {
    background-color: white;
  }
  
  .splitpanes__pane.viewport {
    position: relative;

    #canvas-container {
      position: absolute;
      width: 100%;
      height: 100%;
      clip: rect(0, auto, auto, 0);
    }
  }

  .splitpanes__pane.layers, .splitpanes__pane.properties {
    overflow: auto;
  }
}

canvas {
  position: fixed;
  top: 0;
  left:0;
  background-image: url('/editor/checker.png');
  background-repeat: repeat;
}

#menu {
  width: 100%;
  height: $menu_h;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  background: #161616;
  color: white;

  > .left, > .right, > .middle {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1;
  }
  
  .middle {
    justify-content: center;
  }
  
  .right {
    justify-content: flex-end;
    margin-right: 1rem;
  }

  button {
    width: $menu_h;
    height: $menu_h;
    display:flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    
    > svg {
      fill: white;
    }
    &[disabled] > svg {
      fill: grey;
    }
    
    &:hover, &:focus {
      background: #393939;
    }
    
    &:focus {
      outline: 2px solid #0f62fe;
      outline-offset: -2px;
    }
  }
}

#dialog {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .5);
  padding: 5rem;

  > .content {
    position: relative;
    padding: 3rem 5rem;
    border-radius: 15px;
    background: white;
    border: 1px solid black;
  
    > img {
      position: absolute;
      top: calc(50% - 1rem);
      left: 1.5rem;
      width: 2rem;
    }
  }
  
  > button, > .buttons {
    position: relative;
    bottom: 2.5rem;
    height: 2rem;
    padding: 0 1rem;
  }
  
  &.hidden {
    display: none;
  }
}

#tree {
  display: flex;
  flex-direction: column;
  color: #161616;
  
  .node {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
    padding-left: 1rem;
    
    &:hover, &.selected, &.active {
      background: #e0e0e0;
    }
    
    &.active::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: .25rem;
      background: #0f62fe;
    }
    
    &:focus {
      outline: 2px solid #0f62fe;
      outline-offset: -2px;
    }

    > .label {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      flex-grow: 1;
      padding-right: .5rem;
    }
  }
  
  .layer .node {
    padding-left: 3.5rem;
  }
  
  .group {
    display: flex;
    flex-direction: column;
    
    &.folded > ul {
      display: none;
    }
    
    &.folded > .node > .toggle > svg {
      transform: rotate(-90deg);
    }
  }
  
  .toggle, .icon, .eye {
    margin-right: .5rem;
  }
  
  .toggle, .eye {
    cursor: pointer;
  }
  
  li.visible:not(:hover) > .node > .eye {
    display: none;
  }
  
  .toggle > svg {
    transition: transform .2s;
  }
  
  .group:not(.visible) .layer {
    opacity: .5;
  }
}

#statusbar {
  position: fixed;
  left: 15rem;
  right: 0;
  bottom: 0;

  #tooltip {
    float: right;
    padding: .2rem 1rem;
    height: 100%;
    background-color: white;
  }
}

#tile-selector {
  canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
  
  .tiles button {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    background: transparent;
    z-index: 1;
    outline: 1px solid black;

    &:hover {
      outline: 2px solid black;
      background: rgba(255, 255, 255, .4);
    }
  }
  
  .tile.selected {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;

    > button {
      padding: 0;
      margin: 0;
      border: 0;
      outline: 0;
      width: 3rem;
      height: 3rem;
      outline: 3px solid black;
      > img {
        width: 100%;
        height: 100%;
      }
    }
  }
  
  .tiles, .settings {
    position: fixed;
    bottom: 7rem;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid black;
    
    &.hidden {
      display: none;
    }
  }
  
  .tiles {
    z-index: 1;
    display: grid;
    width: min(calc(100vh - 11rem), calc(100vw - 4rem));
    height: min(calc(100vh - 11rem), calc(100vw - 4rem));
    grid-template-rows: repeat(16, auto);
    grid-template-columns: repeat(16, auto);
    grid-gap: 1px;
    overflow: auto;
  }
  
  .settings {
    background: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
    label {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 1rem;
    }

    input[type=number] {
      width: 4rem;
    }
    
    .buttons {
      text-align: center;

      button {
        width: 2rem;
        height: 2rem;

        > img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

#lobby {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 3rem;
  
  &.hidden {
    display: none;
  }
  
  .buttons {
    display: flex;
    gap: 1rem;
    
    > input[type=text] {
      width: 5rem;
      flex-grow: 1;
    }

    > button, > input[type=text] {
      font-size: 1.5rem;
    }

    &.right {
      justify-content: flex-end;
    }
  }
  
  #new-map {
    & > *:first-child {
      flex-grow: 1;
    }

    button, input {
      font-size: 1rem;
    }
    
    label.file {
      border: 1px solid grey;
      border-radius: 3px;
      padding: .5rem 1rem;

      > input[type="file"] {
        display: none;
      }
    }
  }

  #join-map {
    margin-top: 1rem;
  }

  button {
    border: none;
    border-radius: 3px;
    padding: .4rem 1rem;
    color: black;
    background: lightgrey;

    &:hover {
      background: #a8a8a8;
    }
    
    &.refresh img, &.delete img {
      width: 100%;
      height: 100%;
    }

    &.join {
      color: white;
      background: teal;

      &:hover {
        background: #006262;
      }
    }
  }
  
  .content {
    background: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30rem;
    max-width: 100%;

    .list {
      overflow: auto;
      width: 100%;
    }

    .row {
      display: flex;
      align-items: center;
      padding: .5rem 0;
      border-bottom: 1px solid lightgrey;
      gap: 1rem;
    
      > *:nth-child(1) {
        width: 3rem;
        margin: 0;
      }
      > *:nth-child(2) {
        flex-grow: 1;
      }
      > *:nth-child(3) {
        margin-right: 1rem;
      }
    }
    
    .header {
      font-weight: bold;
      border: 1px solid grey;
    }
  }
  
  .settings {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    
    > span:nth-child(2n) {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
  }
}

.context {
  pointer-events: auto;
  position: fixed;
  inset: 0;
  z-index: 10;

  .content {
    position: absolute;
    padding: .5rem;
    background: white;
    border: 1px solid lightgrey;
    box-shadow: 5px 5px 20px -15px black;
    border-radius: 5px;
  }
}
 
.edit-layer, .edit-group, .edit-quad, .edit-info, .edit-env-point {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  
  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }
  
  input[type=number] {
    width: 4rem;
  }

  input {
    min-width: 4rem;
    max-width: 8rem;
  }
}

nav.hidden .context {
  display: none;
}

#hover-tile {
  background: #FFFFFF55;
  position: fixed;
  border: 4px solid black;
  pointer-events: none;
  // transition: top .1s, left .1s;
}

#layer-outline {
  position: fixed;
  border: 2px solid white;
  outline: 2px solid black;
  box-shadow: 0 0 10px 1px;
  pointer-events: none;
}

#clip-outline {
  position: fixed;
  border: 1px solid white;
  outline: 1px solid red;
  box-shadow: 0 0 5px 1px;
  pointer-events: none;
}

#image-picker {
  // position: fixed;
  // inset: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  // justify-content: center;
  // align-items: center;
  // background: rgba(0, 0, 0, .5);
  // padding: 5rem;
  
  $img-size: 10rem;
  
  > .footer {
    // background: white;
    // border: 1px solid black;
    // border-top: none;
    width: 100%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  > .content {
    // position: relative;
    // padding: 3rem 5rem;
    // background: white;
    // border: 1px solid black;
    overflow: auto;
    
    .images {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      
      .image {
        width: $img-size;
        height: $img-size;
        border: 1px solid grey;
        border-radius: 3px;
        position: relative;
        overflow: hidden;
        padding: 0;
        
        &:hover > button {
          position: absolute;
          top: 0;
          right: 0;
          padding: .25rem;
          line-height: 1rem;
          width: 2rem;
          height: 2rem;
          text-align: center;
          font-weight: bold;
          background: white;
          border: none;
          font-size: 1.5rem;
          
          &:hover {
            color: darkred;
            font-size: 1.5rem;
            font-size: 2rem;
          }
        }
        
        &.selected {
          border: 4px solid #0f62fe;
        }
        
        .hover {
          position: absolute;
          width: 100%;
          bottom: -2.1rem;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: .3rem;
          background: white;
          transition: all .2s;
          text-align: center;
          border-top: 1px solid grey;
          font-weight: bold;
          white-space: nowrap;
        }

        &:hover .hover {
          bottom: 0;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          filter:
            drop-shadow( 1px  0px 0px rgba(0, 0, 0, .4))
            drop-shadow( 0px  1px 0px rgba(0, 0, 0, .4))
            drop-shadow(-1px  0px 0px rgba(0, 0, 0, .4))
            drop-shadow( 0px -1px 0px rgba(0, 0, 0, .4));
        }
      }
    }
  }
}

#edit-quads {
  position: fixed;
  inset: 0;
  
  svg {
    position: absolute;
  }
  
  svg > * {
    pointer-events: auto;
    vector-effect: non-scaling-stroke;
  }
  
  polygon {
    fill: transparent;
    
    &:hover {
      stroke-width: 5px;
      fill: rgba(255, 255, 255, 0.2);
    }
  }
  
  line {
    stroke: black;
    stroke-width: 2px;
    
    &:hover {
      stroke-width: 5px;
      fill: rgba(255, 255, 255, 0.2);
    }
  }
  
  circle {
    stroke: black;

    &.center {
      fill: green;
      stroke: green;
    }

    &:hover {
      stroke-width: 5px;
    }
  }

  > button {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 3rem;
    height: 3rem;
    outline: 3px solid black;
    padding: 0;
    margin: 0;
    border: 0;
    > img {
      width: 100%;
    }
  }
}

#envelope-editor {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.hidden {
    transform: translateY(100%);
  }

  .header {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
    :nth-child(3) {
      flex-grow: 1;
    }
  }
  
  .graph {
    flex-grow: 1;
    position: relative;
    background: white;
  }
  
  svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  path {
    vector-effect: non-scaling-stroke;
    stroke-width: 2px;
    stroke: black;
    fill: none;

    &:hover {
      stroke-width: 5px;
    }
  }
  
  .axis {
    vector-effect: non-scaling-stroke;
    pointer-events: none;
    stroke-width: 1px;
    stroke: black;
    stroke-dasharray: 2px;
  }

  path.point {
    stroke-width: 5px;
    stroke-linecap: round;

    &:hover {
      stroke-width: 10px;
    }
  }
}

.box-select {
  position: fixed;
  background: blue;
  opacity: .5;
  pointer-events: none;
}

#tile-selector .box-select {
  position: absolute;
}
