* {
  box-sizing: border-box;
}

body, html {
  font-family: sans-serif;
}


$menu_h: 3rem;

canvas {
  position: fixed;
  top: 0;
  left:0;
  background: black;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $menu_h;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  background: white;
  padding: .5rem 1rem;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0 0 10px -5px black;

  > .left, > .right, > .middle {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    flex-basis: 0;
    flex-grow: 1;
  }
  
  .middle {
    justify-content: center;
  }
  
  .right {
    justify-content: flex-end;
  }

  #map-name {
    font-size: 1.3rem;
  }
  
  button {
    height: 100%;
    display:flex;
    align-items: center;
    gap: .2rem;
  }
}

#dialog {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .5);
  padding: 5rem;
  
  .content {
    padding: 3rem 5rem;
    border-radius: 15px;
    background: white;
    border: 1px solid black;
  }
  
  &.hidden {
    display: none;
  }
}

nav {
  position: fixed;
  top: $menu_h;
  left: 0;
  bottom: 0;
  max-width: 15rem;
  background: white;
  transition: transform .3s;
  border-right: 1px solid lightgrey;
  box-shadow: 0 10px 10px -5px black;
  
  &.hidden {
    transform: translateX(-100%);
  }
  
  #nav-toggle {
    position: absolute;
    left: 100%;
    top: calc(50% - 2rem);
    height: 4rem;
    background: white;
    border: 1px solid lightgrey;
    border-left: 0;
    box-shadow: 0 0 10px -5px black;
  }  
      
  #tree {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow: auto;
  }    

  .group {
    display: flex;
    flex-direction: column;
    
    &.folded .layer {
      display: none;
    }
  }
  
  .eye, .options {
    float: right;
    width: 1rem;
    height: 1rem;
    background-position: center;
    background-size: cover;
    margin-top: .1rem; // compensate for line height…
  }
  
  .eye {
    background-image: url('/assets/hidden.svg');
  }
  
  .options {
    background-image: url('/assets/dots-vertical.svg');
  }
  
  .fold {
    float: left;
    width: 1rem;
    height: 1rem;
    background-image: url('/assets/fold.svg');
    background-position: center;
    background-size: cover;
    margin-top: .1rem; // compensate for line height…
  }
  
  .group.folded .title > .fold {
    background-image: url('/assets/unfold.svg');
  }
    
  .group.visible .title > .eye, .layer.visible > .eye {
    background-image: url('/assets/shown.svg');
  }

  .group:not(.visible) .layer {
    opacity: .5;
  }

  .layer {
    margin-left: .5rem;
    border-left: 1px solid black;
    padding-left: .5rem;
  }
  
  .group > .title > b, .layer > label {
    margin-right: 1rem;
  }
}

#tile-selector {
  $tile-size: 3rem;
  
  button {
    width: 100%;
    height: 100%;
    background-size: $tile-size * 16;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
  }

  .tile.selected {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    outline: 3px solid black;
    width: $tile-size;
    height: $tile-size;
  }
  
  .tiles {
    position: fixed;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    display: grid;
    grid-template-rows: repeat(16, $tile-size);
    grid-template-columns: repeat(16, $tile-size);
    grid-gap: 1px;
    max-width: calc(100% - 2rem);
    max-height: calc(100% - 5rem - 1rem);
    overflow: auto;
    border: 3px solid black;
    
    &.hidden {
      display: none;
    }
  }
}

#lobby {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 4rem;
  
  &.hidden {
    display: none;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  button {
    margin-top: 1rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: .4rem 1rem;
    color: white;
    
    &.refresh {
    background: lightgrey;
      img {
        width: 100%;
        height: 100%;
      }
    }

    &.join {
      background: teal;
    }
  }
  
  .content {
    background: white;
    display: flex;
    flex-direction: column;
    height: 100%;

    .list {
      overflow: auto;
      min-width: 30rem;
      max-width: 100%;
    }

    .row {
      display: flex;
      align-items: center;
      padding: .5rem 0;
      border-bottom: 1px solid lightgrey;
      gap: 1rem;
    
      > *:nth-child(1) {
        width: 3rem;
        margin: 0;
      }
      > *:nth-child(2) {
        flex-grow: 1;
      }
      > *:nth-child(3) {
        margin-right: 1rem;
      }
    }
    
    .header {
      font-weight: bold;
      border: 1px solid grey;
    }
  }
}