* {
  box-sizing: border-box;
}

body, html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}


$menu_h: 3rem;

canvas {
  position: fixed;
  top: 0;
  left:0;
  background-image: url('/editor/checker.png');
  background-repeat: repeat;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $menu_h;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  background: white;
  padding: .5rem 1rem;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0 0 10px -5px black;

  > .left, > .right, > .middle {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    flex-basis: 0;
    flex-grow: 1;
  }
  
  .middle {
    justify-content: center;
  }
  
  .right {
    justify-content: flex-end;
  }

  #map-name {
    font-size: 1.3rem;
  }
  
  button {
    height: 100%;
    display:flex;
    align-items: center;
    gap: .2rem;
  }
}

#dialog {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .5);
  padding: 5rem;

  > .content {
    position: relative;
    padding: 3rem 5rem;
    border-radius: 15px;
    background: white;
    border: 1px solid black;
  
    > img {
      position: absolute;
      top: calc(50% - 1rem);
      left: 1.5rem;
      width: 2rem;
    }
  }
  
  > button, > .buttons {
    position: relative;
    bottom: 2.5rem;
    height: 2rem;
    padding: 0 1rem;
  }
  
  &.hidden {
    display: none;
  }
}

nav {
  position: fixed;
  top: $menu_h;
  left: 0;
  bottom: 0;
  max-width: 15rem;
  background: white;
  transition: transform .3s;
  border-right: 1px solid lightgrey;
  box-shadow: 0 10px 10px -5px black;
  
  &.hidden {
    transform: translateX(-100%);
  }
  
  #tree {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow: auto;
  }    

  .group {
    display: flex;
    flex-direction: column;
    
    &.folded .layer {
      display: none;
    }
  }
  
  .eye, .options {
    float: right;
    width: 1rem;
    height: 1rem;
    background-position: center;
    background-size: cover;
    margin-top: .1rem; // compensate for line height…
  }
  
  .eye {
    background-image: url('/assets/hidden.svg');
  }
  
  .options {
    background-image: url('/assets/dots-vertical.svg');
  }
  
  .fold {
    float: left;
    width: 1rem;
    height: 1rem;
    background-image: url('/assets/fold.svg');
    background-position: center;
    background-size: cover;
    margin-top: .1rem; // compensate for line height…
  }
  
  .group.folded .title > .fold {
    background-image: url('/assets/unfold.svg');
  }
    
  .group.visible .title > .eye, .layer.visible > .eye {
    background-image: url('/assets/shown.svg');
  }

  .group:not(.visible) .layer {
    opacity: .5;
  }

  .layer {
    border-left: 1px solid black;
    padding-left: .5rem;
    margin-left: .5rem;
  }

  .layer,
  .group > .title {
    display: flex;
    align-items: center;
    gap: .2rem;
  }
    
  .layer > label,
  .group > .title > b {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
    padding-right: .5rem;
  }
    
  .layer > span,
  .group > .title > span {
    flex-shrink: 0;
    width: 1rem;
  }
}

#statusbar {
  position: fixed;
  left: 15rem;
  right: 0;
  bottom: 0;

  #tooltip {
    float: right;
    padding: .2rem 1rem;
    height: 100%;
    background-color: white;
  }
}

#tile-selector {
  $tile-size: 3rem;
  z-index: 10;
  
  button {
    width: 100%;
    height: 100%;
    background-size: $tile-size * 16;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    
    .color {
      width: 100%;
      height: 100%;
      background: red;
      mask-size: $tile-size * 16;
    }
  }

  .tile.selected {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;

    > button {
      width: $tile-size;
      height: $tile-size;
      outline: 3px solid black;
    }
  }
  
  .tiles, .settings {
    position: fixed;
    bottom: 4rem + $tile-size;
    left: 50%;
    transform: translateX(-50%);
    
    &.hidden {
      display: none;
    }
  }
  
  .tiles {
    z-index: 1;
    background: black;
    display: grid;
    grid-template-rows: repeat(16, $tile-size);
    grid-template-columns: repeat(16, $tile-size);
    grid-gap: 1px;
    max-width: calc(100% - 2rem);
    max-height: calc(100% - 4rem - $tile-size - 1rem);
    overflow: auto;
    border: 3px solid black;
  }
  
  .settings {
    background: white;
    border: 3px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
    label {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 1rem;
    }

    input[type=number] {
      width: 4rem;
    }
  }
}

#lobby {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 3rem;
  
  &.hidden {
    display: none;
  }
  
  .buttons {
    display: flex;
    gap: 1rem;
    
    > input[type=text] {
      width: 5rem;
      flex-grow: 1;
    }

    > button, > input[type=text] {
      font-size: 1.5rem;
    }

    &.right {
      justify-content: flex-end;
    }
  }
  
  #new-map {
    & > *:first-child {
      flex-grow: 1;
    }

    button, input {
      font-size: 1rem;
    }
    
    label.file {
      border: 1px solid grey;
      border-radius: 3px;
      padding: .5rem 1rem;

      > input[type="file"] {
        display: none;
      }
    }
  }

  #join-map {
    margin-top: 1rem;
  }

  button {
    border: none;
    border-radius: 3px;
    padding: .4rem 1rem;
    color: black;
    background: lightgrey;

    &:hover {
      background: #a8a8a8;
    }
    
    &.refresh img, &.delete img {
      width: 100%;
      height: 100%;
    }

    &.join {
      color: white;
      background: teal;

      &:hover {
        background: #006262;
      }
    }
  }
  
  .content {
    background: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30rem;
    max-width: 100%;

    .list {
      overflow: auto;
      width: 100%;
    }

    .row {
      display: flex;
      align-items: center;
      padding: .5rem 0;
      border-bottom: 1px solid lightgrey;
      gap: 1rem;
    
      > *:nth-child(1) {
        width: 3rem;
        margin: 0;
      }
      > *:nth-child(2) {
        flex-grow: 1;
      }
      > *:nth-child(3) {
        margin-right: 1rem;
      }
    }
    
    .header {
      font-weight: bold;
      border: 1px solid grey;
    }
  }
  
  .settings {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    
    > span:nth-child(2n) {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
  }
}

.context {
    pointer-events: auto;
    position: fixed;
    inset: 0;
    z-index: 10;

  .content {
    position: absolute;
    padding: .5rem;
    background: white;
    border: 1px solid lightgrey;
    box-shadow: 5px 5px 20px -15px black;
    border-radius: 5px;
  }
}
 
.edit-layer, .edit-group, .edit-quad {
    display: flex;
    flex-direction: column;
    gap: .5rem;

  span {
    text-align: center;
    font-weight: bold;
  }
  
  label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
  }
  
  input[type=number] {
    width: 4rem;
  }

  input {
    min-width: 4rem;
    max-width: 8rem;
  }
}

nav.hidden .context {
  display: none;
}

#hover-tile {
  background: #FFFFFF55;
  position: fixed;
  border: 4px solid black;
  pointer-events: none;
  // transition: top .1s, left .1s;
}

#layer-outline {
  position: fixed;
  border: 2px solid white;
  outline: 2px solid black;
  box-shadow: 0 0 10px 1px;
  pointer-events: none;
}

#clip-outline {
  position: fixed;
  border: 1px solid white;
  outline: 1px solid red;
  box-shadow: 0 0 5px 1px;
  pointer-events: none;
}

#image-picker {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .5);
  padding: 5rem;
  
  $img-size: 10rem;
  
  > .footer {
    background: white;
    border: 1px solid black;
    border-top: none;
    width: 100%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    button {
      font-size: 1.3rem;
      border: none;
      border-radius: 3px;
      padding: .4rem 1rem;
      background: lightgrey;

      &:hover {
        background: #a8a8a8;
      }
      
      &.confirm {
        color: white;
        background: teal;

        &:hover {
          background: #006262;
        }
      }
    }
  }
  
  > .content {
    position: relative;
    padding: 3rem 5rem;
    background: white;
    border: 1px solid black;
    overflow: auto;
    
    .images {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      
      .image {
        width: $img-size;
        height: $img-size;
        border: 1px solid grey;
        border-radius: 3px;
        position: relative;
        overflow: hidden;
        
        &:hover > button {
          position: absolute;
          top: 0;
          right: 0;
          padding: .25rem;
          line-height: 1rem;
          width: 2rem;
          height: 2rem;
          text-align: center;
          font-weight: bold;
          background: white;
          border: none;
          font-size: 1.5rem;
          
          &:hover {
            color: darkred;
            font-size: 1.5rem;
            font-size: 2rem;
          }
        }
        
        &.selected {
          border: 4px solid blue;
        }
        
        .hover {
          position: absolute;
          width: 100%;
          bottom: -2.1rem;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: .3rem;
          background: white;
          transition: all .2s;
          text-align: center;
          border-top: 1px solid grey;
          font-weight: bold;
          white-space: nowrap;
        }

        &:hover .hover {
          bottom: 0;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          filter:
            drop-shadow( 1px  0px 0px rgba(0, 0, 0, .4))
            drop-shadow( 0px  1px 0px rgba(0, 0, 0, .4))
            drop-shadow(-1px  0px 0px rgba(0, 0, 0, .4))
            drop-shadow( 0px -1px 0px rgba(0, 0, 0, .4));
        }
      }
    }
  }
}

#edit-quads {
  position: fixed;
  inset: 0;
  
  svg {
    position: absolute;
  }
  
  svg > * {
    pointer-events: auto;
    vector-effect: non-scaling-stroke;
  }
  
  polygon {
    fill: transparent;
    
    &:hover {
      stroke-width: 5px;
      fill: rgba(255, 255, 255, 0.2);
    }
  }
  
  line {
    stroke: black;
    stroke-width: 2px;
    
    &:hover {
      stroke-width: 5px;
      fill: rgba(255, 255, 255, 0.2);
    }
  }
  
  circle {
    stroke: black;

    &.center {
      fill: green;
      stroke: green;
    }

    &:hover {
      stroke-width: 5px;
    }
  }

  > button {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 3rem;
    height: 3rem;
    outline: 3px solid black;
    padding: 0;
    margin: 0;
    border: 0;
    > img {
      width: 100%;
    }
  }
}

.box-select {
  position: fixed;
  background: blue;
  opacity: .5;
  pointer-events: none;
}